<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rjxx.taxeasy.dao.FpkcYzszMapper">

    <select id="findOneByParams" parameterType="map" resultType="fpkcYzsz">
       select * from t_fpkc_yzsz where yxbz = '1'
        <if test="yhid !=null and yhid != ''">
            and yhid = #{yhid}
        </if>
        <if test="gsdm !=null and gsdm != ''">
            and gsdm = #{gsdm}
        </if>
        <if test="xfid !=null and xfid != ''">
            and xfid = #{xfid}
        </if>
        <if test="skpid !=null and skpid != ''">
            and skpid = #{skpid}
        </if>
         <if test="fpzldm !=null and fpzldm != ''">
            and fpzldm = #{fpzldm}
        </if>
        <if test="orderBy != null">
            order by #{orderBy}
        </if>
        limit 1
    </select>

    <select id="findAllByParams" parameterType="map" resultType="fpkcYzsz">
        select * from t_fpkc_yzsz where yxbz = '1'
        <if test="orderBy != null">
            order by #{orderBy}
        </if>
    </select>

    <select id="findByPage" parameterType="pagination" resultType="fpkcYzszVo">
        SELECT
        c.id,
        t.gsdm,
        t.xfid,
        t.id AS skpid,
        t.lrry,
        t.fpzldm,
        f.xfmc,
        f.xfsh,
        t.skph,
        t.kpdmc,
        e.fpzlmc,
        c.yjyz,
        d.kpfs,
        d.csz,
        g.fpkcl,
        g.xgsj kchqsj
        FROM
        (
        SELECT
        a.*, substring_index(
        substring_index(a.kplx, ',', b.id),
        ',' ,- 1
        ) fpzldm
        FROM
        t_skp a
        JOIN t_fpzl b ON b.id &lt;= (
        length(a.kplx) - length(REPLACE(a.kplx, ',', '')) + 1
        )
        WHERE
        a.yxbz = '1'
        <if test="params.gsdm != null and params.gsdm !=''">
            and a.gsdm = #{params.gsdm}
        </if>
        <if test="params.xfid != null and params.xfid !=''">
            and a.xfid = #{params.xfid}
        </if>
        <if test="params.xfids !=null and params.xfids !=''">
            and a.xfid in
            <foreach collection="params.xfids" item="item" index="index" open="("
                     separator="," close=")">#{params.xfids[${index}]}
            </foreach>
        </if>
        <if test="params.skpids !=null and params.skpids !=''">
            and a.id in
            <foreach collection="params.skpids" item="item" index="index" open="("
                     separator="," close=")">#{params.skpids[${index}]}
            </foreach>
        </if>
        <if test="params.skpid != null and params.skpid !=''">
            and a.id = #{params.skpid}
        </if>
        ORDER BY
        a.id asc
        ) t
        LEFT JOIN t_fpkc_yzsz c ON t.gsdm = c.gsdm
        AND t.xfid = c.xfid
        AND t.id = c.skpid
        AND t.fpzldm = c.fpzldm
        LEFT JOIN v_kpfs d ON t.gsdm = d.gsdm
        AND t.xfid = d.xfid
        AND t.id = d.kpdid
        <if test="params.kpfs != null and params.kpfs !=''">
            and d.csz = #{params.csz}
        </if>
        LEFT JOIN t_fpzl e on e.fpzldm = t.fpzldm
        LEFT JOIN t_fpkc g ON t.gsdm = g.gsdm
        AND t.xfid = g.xfid
        AND t.id = g.skpid
        AND t.fpzldm = g.fpzldm
        LEFT JOIN t_xf f ON t.gsdm = f.gsdm
        AND t.xfid = f.id
        where 1=1
        <if test="params.fpzldm != null and params.fpzldm !=''">
            and t.fpzldm = #{params.fpzldm}
        </if>
        ORDER BY
        t.xfid asc

    </select>
    
    <select id="findYhYzsz" parameterType="map" resultType="fpkcYzsz">
        select * from t_fpkc_yzsz where yxbz = '1'
        <if test="yhid !=null and yhid !=''">
           and yhid = #{yhid}
        </if>
    </select>

</mapper>

