<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rjxx.taxeasy.dao.FpkcYzszMapper">

    <select id="findOneByParams" parameterType="map" resultType="fpkcYzsz">
       select * from t_fpkc_yzsz where yxbz = '1'
        <if test="yhid !=null and yhid != ''">
            and yhid = #{yhid}
        </if>
        <if test="gsdm !=null and gsdm != ''">
            and gsdm = #{gsdm}
        </if>
        <if test="xfid !=null and xfid != ''">
            and xfid = #{xfid}
        </if>
        <if test="skpid !=null and skpid != ''">
            and skpid = #{skpid}
        </if>
         <if test="fpzldm !=null and fpzldm != ''">
            and fpzldm = #{fpzldm}
        </if>
        <if test="orderBy != null">
            order by #{orderBy}
        </if>
        limit 1
    </select>

    <select id="findAllByParams" parameterType="map" resultType="fpkcYzsz">
        select * from t_fpkc_yzsz where yxbz = '1'
        <if test="orderBy != null">
            order by #{orderBy}
        </if>
    </select>

    <select id="findByPage" parameterType="pagination" resultType="fpkcYzszVo">
        select * from (select c.id,t.gsdm,t.xfid,t.id as skpid,t.lrry,t.fpzldm,f.xfmc,f.xfsh,t.skph,t.kpdmc,e.fpzlmc,c.yjyz,d.kpfs,d.csz,g.fpkcl,g.xgsj kchqsj from
        (SELECT
        a.*, substring_index(
        substring_index(
        a.kplx,
        ',',
        b.id
        ),
        ',' ,- 1
        ) fpzldm
        FROM
        t_skp a
        JOIN t_fpzl b ON b.id  &lt;=(
        length(a.kplx) - length(REPLACE(a.kplx, ',', '')) + 1
        )
        where a.yxbz ='1'
        ORDER BY
        a.id) t LEFT JOIN t_fpkc_yzsz c on t.gsdm = c.gsdm and t.xfid = c.xfid and t.id = c.skpid and t.fpzldm = c.fpzldm
        LEFT JOIN v_kpfs d on t.gsdm = d.gsdm and t.xfid = d.xfid and t.id = d.kpdid
        LEFT JOIN t_fpzl e on t.fpzldm = e.fpzldm
        LEFT JOIN t_fpkc g on t.gsdm = g.gsdm and t.xfid = g.xfid and t.id = g.skpid and t.fpzldm = g.fpzldm
        LEFT JOIN t_xf f on t.gsdm = f.gsdm and t.xfid = f.id ) m
        where 1=1
        <if test="params.gsdm != null and params.gsdm !=''">
            and m.gsdm = #{params.gsdm}
        </if>
        <if test="params.xfid != null and params.xfid !=''">
            and m.xfid = #{params.xfid}
        </if>
        <if test="params.xfids !=null and params.xfids !=''">
            and m.xfid in
            <foreach collection="params.xfids" item="item" index="index" open="("
                     separator="," close=")">#{params.xfids[${index}]}
            </foreach>
        </if>
        <if test="params.skpids !=null and params.skpids !=''">
            and m.skpid in
            <foreach collection="params.skpids" item="item" index="index" open="("
                     separator="," close=")">#{params.skpids[${index}]}
            </foreach>
        </if>
        <if test="params.skpid != null and params.skpid !=''">
            and m.skpid = #{params.skpid}
        </if>
        <if test="params.fpzldm != null and params.fpzldm !=''">
            and m.fpzldm = #{params.fpzldm}
        </if>
        <if test="params.kpfs != null and params.kpfs !=''">
            and m.csz = #{params.csz}
        </if>
        ORDER  BY  m.xfid
    </select>
    
    <select id="findYhYzsz" parameterType="map" resultType="fpkcYzsz">
        select * from t_fpkc_yzsz where yxbz = '1'
        <if test="yhid !=null and yhid !=''">
           and yhid = #{yhid}
        </if>
    </select>

</mapper>

