<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rjxx.taxeasy.dao.FpkcYztzMapper">

    <select id="findOneByParams" parameterType="map" resultType="fpkcYztz">
        select * from t_fpkc_yztz where yxbz = '1'
        <if test="gsdm != null and gsdm != ''">
            and gsdm = #{gsdm}
        </if>
        <if test="yjszid != null and yjszid != ''">
            and  yjszid = #{yjszid}
        </if>
        <if test="tzyhid != null and tzyhid != ''">
            and  tzyhid = #{tzyhid}
        </if>
        limit 1
    </select>

    <select id="findAllByParams" parameterType="map" resultType="fpkcYztz">
        select * from t_fpkc_yztz where yxbz = '1'
        <if test="gsdm != null and gsdm != ''">
            and  gsdm = #{gsdm}
        </if>
        <if test="yjszid != null and yjszid != ''">
            and  yjszid = #{yjszid}
        </if>
        <!--<if test="yjszids != null and yjszids !=''">
            and yjszid in <foreach collection="yjszids" item="item" index="index"
                                    open="(" separator="," close=")"> #{yjszids[${index}]}</foreach>
        </if>-->
        <if test="orderBy != null">
            order by ${orderBy}
        </if>
    </select>

    <select id="findByPage" parameterType="pagination" resultType="fpkcYztz">
        select * from t_fpkc_yztz where yxbz = '1'
        <if test="params.orderBy != null">
            order by ${params.orderBy}
        </if>
    </select>

    <delete id="deleteYhtzByYjszid" parameterType="map">
       DELETE from t_fpkc_yztz where yxbz = '1'
        <if test="yjszid != null and yjszid != ''">
            and  yjszid = #{yjszid}
        </if>
    </delete>


    <select id="findAllTzList" parameterType="map" resultType="FpkcYjtzVo">
        SELECT
        a.tzfs, GROUP_CONCAT(
        CONCAT(t.xfmc,'(',t.xfsh,')','盘号',IFNULL(t.skph,''),'对应的',t.fpzlmc,'票种,只剩',t.fpkcl,'张发票;')
        )  tzy,
        max(d.yx) email,
        max(d.sjhm) phone,
        a.gsdm
        FROM
        t_fpkc_yztz a
        JOIN (
        SELECT
        b.*, c.fpkcl,
        e.fpzlmc,f.xfmc,f.xfsh
        FROM
        t_fpkc_yzsz b
        JOIN t_fpzl e ON b.fpzldm = e.fpzldm
        JOIN t_xf f on f.id = b.xfid
        JOIN t_fpkc c ON b.gsdm = c.gsdm
        AND b.xfid = c.xfid
        AND b.skpid = c.skpid
        AND b.fpzldm = c.fpzldm
        AND b.yjyz >= c.fpkcl
        ) t ON a.yjszid = t.id
        JOIN t_yh d ON a.tzyhid = d.id
        GROUP BY
        a.tzfs,
        a.tzyhid
    </select>

    <select id="findAllByPage" parameterType="pagination" resultType="FpkcTzVo">
        SELECT
        a.yjszid,a.gsdm,a.tzfs,a.tzyhid,b.xfid,b.skpid,b.skph,b.fpzldm,c.xfmc,c.xfsh,d.yhmc,e.kpdmc,f.fpzlmc
        from  t_fpkc_yztz a
        LEFT JOIN t_fpkc_yzsz b on a.yjszid = b.id
        LEFT JOIN t_xf c ON b.xfid = c.id
        LEFT JOIN t_yh d on a.tzyhid = d.id
        LEFT JOIN t_skp e on b.skpid = e.id
        LEFT JOIN t_fpzl f on b.fpzldm = f.fpzldm
        WHERE
        a.yxbz='1'
        <if test="params.ids != null">
            <foreach collection="params.ids" open=" and a.yjszid in (" separator="," close=")" index="index" item="id">
                #{params.ids[${index}]}
            </foreach>
        </if>
    </select>

</mapper>

