<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rjxx.taxeasy.dao.JyxxsqMapper">

    <select id="findOneByParams" parameterType="map" resultType="jyxxsq">
        select * from t_jyxxsq where yxbz = '1'
         <if test="ddh != null">
            and ddh =  #{ddh}
        </if>
        <if test="gsdm != null">
            and gsdm =  #{gsdm}
        </if>
        <if test="orderBy != null">
            order by #{orderBy}
        </if>
        limit 1
    </select>

    <select id="findAllByTqms" parameterType="map" resultType="jyxxsq">
        select * from t_jyxxsq where yxbz = '1'
        <if test="tqmList != null">
            <foreach collection="tqmList" open=" and tqm in (" separator="," close=")" item="tqm">
                #{tqm}
            </foreach>
        </if>
        <if test="gsdm != null">
            and gsdm = #{gsdm}
        </if>
        <if test="orderBy != null">
            order by #{orderBy}
        </if>
    </select>
    
      <select id="findAllByJylshs" parameterType="map" resultType="jyxxsq">
        select * from t_jyxxsq where yxbz = '1'
        <if test="jylshList != null">
            <foreach collection="jylshList" open=" and jylsh in (" separator="," close=")" item="jylsh">
                #{jylsh}
            </foreach>
        </if>
        <if test="gsdm != null">
            and gsdm = #{gsdm}
        </if>
        <if test="orderBy != null">
            order by #{orderBy}
        </if>
    </select>
    
    <select id="findAllByDdhs" parameterType="map" resultType="jyxxsq">
        select * from t_jyxxsq where yxbz = '1'
        <if test="ddhList != null">
            <foreach collection="ddhList" open=" and ddh in (" separator="," close=")" item="ddh">
                #{ddh}
            </foreach>
        </if>
        <if test="gsdm != null">
            and gsdm = #{gsdm}
        </if>
        <if test="orderBy != null">
            order by #{orderBy}
        </if>
    </select>
    
    <select id="findXfExistByKpd" parameterType="map" resultType="xf">
       select t.* from t_xf t where t.yxbz='1' and t.id in 
       (select a.xfid from t_skp a where a.kpddm =#{kpddm} and a.gsdm =#{gsdm})
        LIMIT 1
    </select>
    <select id="findByPage" parameterType="pagination" resultType="jyxxsq">
         select DISTINCT a.* from t_jyxxsq a , t_jymxsq b WHERE a.sqlsh=b.sqlsh and a.yxbz ='2'
         <if test="params.gsdm !=null and params.gsdm !=''">
            and a.gsdm = #{params.gsdm}
        </if>
        <if test="params.xfs !=null">
               <foreach collection="params.xfs" open=" and (xfid in (" separator="," close=")" item="item" index="index">
                #{params.xfs[${index}].id} 
            </foreach>
            or xfid is null)
         </if>
        <if test="params.ddh !=null">
            and a.ddh like concat('%',#{params.ddh},'%')
         </if>
        <if test="params.gfmc !=null">
            and a.gfmc like concat('%',#{params.gfmc},'%')
         </if>
        <if test="params.kprqq !=null and params.kprqq != ''">
            and a.ddrq &gt;= ${params.kprqq}
         </if>
        <if test="params.kprqz !=null and params.kprqz != ''">
            and a.ddrq &lt; date_add(str_to_date(#{params.kprqz},'%Y-%m-%d'),INTERVAL 1 day)
         </if>
<!--         <if test="params.jyrqq !=null and params.jyrqq != ''">
            and jylssj &gt;= ${params.jyrqq}
         </if>
        <if test="params.jyrqz !=null and params.jyrqz != ''">
            and jylssj &lt; date_add(str_to_date(#{params.jyrqz},'%Y-%m-%d'),INTERVAL 1 day)
         </if> -->
         <if test="params.spmc != null and params.spmc != ''">
			 and b.spmc like CONCAT('%',#{params.spmc},'%')
		</if>
         order by a.ddrq desc
    </select>
    
   <insert id="saveJyxxsq" parameterType="jyxxsq" useGeneratedKeys="true" keyProperty="sqlsh">
         insert into t_jyxxsq (kpddm, jylsh, ddrq, ddh, fpzldm, fpczlxdm, xfid, xfsh, xfmc, xfyh, xfyhzh, xflxr, xfdz, xfdh, xfyb, gfid, gfsh, gfmc, gfyh, gfyhzh, gflxr, gfdz, gfdh, gfyb, gfemail, sffsyj, clztdm, bz, skr, kpr, fhr, sfcp, sfdyqd, zsfs, ssyf, hztzdh, yfpdm, yfphm, hsbz, jshj, ykpjshj, yxbz, lrsj, lrry, xgsj, xgry, gfsjr, gfsjrdz, gsdm, tqm, skpid, gfsjh, dxzt) VALUES (#{kpddm}, #{jylsh},  #{ddrq}, #{ddh}, #{fpzldm}, #{fpczlxdm}, #{xfid}, #{xfsh}, #{xfmc}, #{xfyh}, #{xfyhzh}, #{xflxr}, #{xfdz}, #{xfdh}, #{xfyb}, #{gfid}, #{gfsh}, #{gfmc}, #{gfyh}, #{gfyhzh},#{gflxr}, #{gfdz}, #{gfdh}, #{gfyb},  #{gfemail},  #{sffsyj}, #{clztdm},  #{bz}, #{skr},  #{kpr}, #{fhr}, #{sfcp}, #{sfdyqd}, #{zsfs}, #{ssyf}, #{hztzdh}, #{yfpdm}, #{yfphm}, #{hsbz}, #{jshj}, #{ykpjshj}, #{yxbz}, #{lrsj}, #{lrry}, #{xgsj}, #{xgry}, #{gfsjr}, #{gfsjrdz}, #{gsdm}, #{tqm}, #{skpid},#{gfsjh},#{dxzt})	
    </insert>

</mapper>

