<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rjxx.taxeasy.dao.JyxxsqMapper">

	<select id="findOneByParams" parameterType="map" resultType="jyxxsq">
		select * from t_jyxxsq where yxbz = '1'
		<if test="gsdm != null">
			and gsdm = #{gsdm}
		</if>
		<if test="ddh != null">
			and ddh = #{ddh}
		</if>
		<if test="tqm != null">
			and tqm = #{tqm}
		</if>
		<if test="jylsh != null">
			and jylsh = #{jylsh}
		</if>
		<if test="sqlsh != null">
			and sqlsh = #{sqlsh}
		</if>
		limit 1
	</select>

	<select id="findAllByTqms" parameterType="map" resultType="jyxxsq">
		select * from t_jyxxsq where yxbz = '1'
		<if test="tqmList != null">
			<foreach collection="tqmList" open=" and tqm in (" separator=","
				close=")" item="tqm">
				#{tqm}
			</foreach>
		</if>
		<if test="gsdm != null">
			and gsdm = #{gsdm}
		</if>
		<if test="orderBy != null">
			order by #{orderBy}
		</if>
	</select>

	<select id="findAllByJylshs" parameterType="map" resultType="jyxxsq">
		select * from t_jyxxsq where yxbz = '1'
		<if test="jylshList != null">
			<foreach collection="jylshList" open=" and jylsh in ("
				separator="," close=")" item="jylsh">
				#{jylsh}
			</foreach>
		</if>
		<if test="gsdm != null">
			and gsdm = #{gsdm}
		</if>
		<if test="orderBy != null">
			order by #{orderBy}
		</if>
	</select>

	<select id="findAllByDdhs" parameterType="map" resultType="jyxxsq">
		select * from t_jyxxsq where yxbz = '1'
		<if test="ddhList != null">
			<foreach collection="ddhList" open=" and ddh in (" separator=","
				close=")" item="ddh">
				#{ddh}
			</foreach>
		</if>
		<if test="gsdm != null">
			and gsdm = #{gsdm}
		</if>
		<if test="orderBy != null">
			order by #{orderBy}
		</if>
	</select>

	<select id="findXfExistByKpd" parameterType="map" resultType="xf">
		select t.* from t_xf t where t.yxbz='1' and t.id in
		(select a.xfid from t_skp a where a.kpddm =#{kpddm} and a.gsdm =#{gsdm})
		LIMIT 1
	</select>

	<select id="findByPage" parameterType="pagination" resultType="jyxxsqVO">
		select DISTINCT a.* from t_jyxxsq a , t_jymxsq b WHERE a.sqlsh=b.sqlsh
		and a.yxbz ='1' and a.ztbz = '1'
		<if test="params.gsdm !=null and params.gsdm !=''">
			and a.gsdm = #{params.gsdm}
		</if>
		<if test="params.xfs !=null">
			<foreach collection="params.xfs" open=" and (a.xfid in ("
				separator="," close=")" item="item" index="index">
				#{params.xfs[${index}].id}
			</foreach>
			or a.xfid is null)
		</if>
		<if test="params.skps !=null">
			<foreach collection="params.skps" open=" and (a.skpid in ("
				separator="," close=")" item="item" index="index">
				#{params.skps[${index}].id}
			</foreach>
			or a.skpid is null)
		</if>
		<if test="params.ddh !=null">
			and a.ddh like concat('%',#{params.ddh},'%')
		</if>
		<if test="params.fpzldm !=null">
			and a.fpzldm= #{params.fpzldm}
		</if>
		<if test="params.xfsh !=null">
			and a.xfsh = #{params.xfsh}
		</if>
		<if test="params.gfmc !=null">
			and a.gfmc like concat('%',#{params.gfmc},'%')
		</if>
		<if test="params.kprqq !=null and params.kprqq != ''">
			and a.ddrq &gt;= #{params.kprqq}
		</if>
		<if test="params.kprqz !=null and params.kprqz != ''">
			and a.ddrq &lt;
			date_add(str_to_date(#{params.kprqz},'%Y-%m-%d'),INTERVAL 1 day)
		</if>
		<!-- <if test="params.jyrqq !=null and params.jyrqq != ''"> and jylssj 
			&gt;= ${params.jyrqq} </if> <if test="params.jyrqz !=null and params.jyrqz 
			!= ''"> and jylssj &lt; date_add(str_to_date(#{params.jyrqz},'%Y-%m-%d'),INTERVAL 
			1 day) </if> -->
		<if test="params.spmc != null and params.spmc != ''">
			and b.spmc like CONCAT('%',#{params.spmc},'%')
		</if>
		order by a.ddrq desc
	</select>


	<select id="findByPage1" parameterType="pagination" resultType="jyxxsq">
		select * from t_jyxxsq where yxbz = '1' and ztbz in('0','2')
		<if test="params.clztdm != null">
			and clztdm = #{params.clztdm}
		</if>
		<if test="params.fpzldm != null">
			and fpzldm = #{params.fpzldm}
		</if>
		<if test="params.fpczlxdm != null">
			and fpczlxdm = #{params.fpczlxdm}
		</if>
		<if test="params.gfmc != null and params.gfmc != ''">
			and gfmc like concat('%',#{params.gfmc},'%')
		</if>
		<if test="params.ddh != null and params.ddh != ''">
			and ddh like concat('%',#{params.ddh},'%')
		</if>
		<if test="params.jylsh != null and params.jylsh != ''">
			and jylsh like concat('%',#{params.jylsh},'%')
		</if>
		<if
			test="params.rqq != null and params.rqq != '' and params.rqz != null and params.rqz != ''">
			and ddrq between #{params.rqq} and #{params.rqz}
		</if>
		<if test="params.gsdm != null and params.gsdm != ''">
			and gsdm = #{params.gsdm}
		</if>
		<if test="params.xfsh != null and params.xfsh != ''">
			and xfsh = #{params.xfsh}
		</if>
		<if test="params.xfs !=null">
			<foreach collection="params.xfs" open=" and (xfid in ("
				separator="," close=")" item="item" index="index">
				#{params.xfs[${index}].id}
			</foreach>
			or xfid is null)
		</if>
		<if test="params.skps !=null">
			<foreach collection="params.skps" open=" and (skpid in ("
				separator="," close=")" item="item" index="index">
				#{params.skps[${index}].id}
			</foreach>
			or skpid is null)
		</if>
		<if test="params.orderBy != null">
			order by ${params.orderBy}
		</if>
	</select>

	<insert id="saveJyxxsq" parameterType="jyxxsq" useGeneratedKeys="true"
		keyProperty="sqlsh">
		insert into t_jyxxsq (kpddm, jylsh, ddrq, ddh, fpzldm, fpczlxdm, xfid, xfsh,
		xfmc, xfyh, xfyhzh, xflxr, xfdz, xfdh, xfyb, gfid, gfsh, gfmc, gfyh,
		gfyhzh, gflxr, gfdz, gfdh, gfyb, gfemail, sffsyj, clztdm, bz, skr,
		kpr, fhr, sfcp, sfdyqd, zsfs, ssyf, hztzdh, yfpdm, yfphm, hsbz, jshj,
		ykpjshj, yxbz, lrsj, lrry, xgsj, xgry, gfsjr, gfsjrdz, gsdm, tqm,
		skpid, gfsjh, dxzt,sjly) VALUES (#{kpddm}, #{jylsh}, #{ddrq}, #{ddh},
		#{fpzldm}, #{fpczlxdm}, #{xfid}, #{xfsh}, #{xfmc}, #{xfyh}, #{xfyhzh},
		#{xflxr}, #{xfdz}, #{xfdh}, #{xfyb}, #{gfid}, #{gfsh}, #{gfmc},
		#{gfyh}, #{gfyhzh},#{gflxr}, #{gfdz}, #{gfdh}, #{gfyb}, #{gfemail},
		#{sffsyj}, #{clztdm}, #{bz}, #{skr}, #{kpr}, #{fhr}, #{sfcp},
		#{sfdyqd}, #{zsfs}, #{ssyf}, #{hztzdh}, #{yfpdm}, #{yfphm}, #{hsbz},
		#{jshj}, #{ykpjshj}, #{yxbz}, #{lrsj}, #{lrry}, #{xgsj}, #{xgry},
		#{gfsjr}, #{gfsjrdz}, #{gsdm}, #{tqm}, #{skpid},#{gfsjh},#{dxzt},#{sjly})
	</insert>
	
	
	<select id="findByMapParams" parameterType="map" resultType="jyxxsq">
        select * from t_jyxxsq where yxbz = '1'
        <if test="gsdm != null">
            and gsdm = #{gsdm}
        </if>
        <if test="jylshList != null">
            <foreach collection="jylshList" open=" and jylsh in (" separator="," close=")" item="jylsh">
                #{jylsh}
            </foreach>
        </if>
        <if test="tqmList != null">
            <foreach collection="tqmList" open=" and tqm in (" separator="," close=")" item="tqm">
                #{tqm}
            </foreach>
        </if>
    </select>
</mapper>

