<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rjxx.taxeasy.dao.SpzMapper">

    <select id="findOneByParams" parameterType="map" resultType="spz">
        select * from t_spz where yxbz = '1'
        <if test="gsdm != null">
            and gsdm = #{gsdm}
        </if>
        <if test="spzmc != null">
            and spzmc = #{spzmc}
        </if>
        <if test="spzid != null">
            and id != #{spzid}
        </if>
        limit 1
    </select>

    <select id="findAllByParams" parameterType="map" resultType="spz">
        select * from t_spz where yxbz = '1'
        <if test="orderBy != null">
            order by #{orderBy}
        </if>
    </select>

    <select id="findByPage" parameterType="pagination" resultType="spz">
        select * from t_spz where yxbz = '1'
        <if test="params.gsdm != null">
            and gsdm = #{params.gsdm}
        </if>
        <if test="params.spzmc != null and params.spzmc != ''">
            and spzmc like concat('%',#{params.spzmc},'%')
        </if>
    </select>

</mapper>

