<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rjxx.taxeasy.dao.YhdykMapper">

    <select id="findOneByParams" parameterType="map" resultType="yhdyk">
        select * from t_yhdyk where yxbz = '1'
        <if test="orderBy != null">
            order by #{orderBy}
        </if>
        limit 1
    </select>

    <select id="findAllByParams" parameterType="map" resultType="yhdyk">
        select * from t_yhdyk where yxbz = '1'
        <if test="orderBy != null">
            order by #{orderBy}
        </if>
    </select>

    <select id="findByPage" parameterType="pagination" resultType="yhdykvo">
       select a.dybt,b.id,b.dyfs,b.sjhm,b.email,b.openid from t_dyzl a,t_yhdyk b
           where a.id=b.dybtid and b.yxbz='1' and a.yxbz='1'
           and b.yhid=#{params.yhid}
    </select>
    
    <select id="findDyxx" parameterType="map" resultType="yhdyk">
        select * from t_yhdyk where yhid=#{yhid} and dybtid=#{dybtid} and yxbz='1'
        <if test="id !=null and id !=''">
        and id !=#{id}
        </if>
    </select>
    
    <update id="updateYxbz" parameterType="map">
         update t_yhdyk set yxbz='0' where id=#{id}
    </update>
    
    <select id="findYhdy" parameterType="map" resultType="dyfs">
            select a.id,a.yhid,a.dyfs,a.sjhm,a.email,a.openid 
            from t_yhdyk a,t_dyzl b 
            where a.dybtid = b.id 
            and a.yxbz='1' and b.yxbz='1'
            <if test="dydm != null and dydm !=''">
                 and b.dydm=#{dydm}
            </if> 
    </select>
    
    <select id="findTjsj" parameterType="map" resultType="fpnum">
            select count(*) fpunm,sum(t.zsje+t.fsje) hjje,sum(t.zsse+t.fsse) hjse from
(select lrry,lrsj,
case when fpczlxdm in('11','14') then hjje else 0 end zsje,
case when fpczlxdm in('12','13') then hjje else 0 end fsje,
case when fpczlxdm in('11','14') then hjse else 0 end zsse,
case when fpczlxdm in('12','13') then hjse else 0 end fsse
from t_kpls where yxbz='1' and fphm is not NULL
<if test="lrry !=null and lrry !=''">
and lrry = #{lrry}
</if>
<if test="kprq !=null and kprq !=''">
and kprq like CONCAT('%',#{kprq},'%')
</if>
) t
    </select>

</mapper>

